<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DigitalIT</title>
        <!-- Bootstrap for CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class = "text-center">
          <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <a href="landing" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="/images/DigitalIT logo.png" width="152" height="37" class="d-inline-block align-top" alt="">
              </a>
        
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="landing" class="nav-link px-2 link-secondary">Our Story</a></li>
                <li><a href="landing" class="nav-link px-2 link-dark">Services</a></li>
                <li><a href="landing" class="nav-link px-2 link-dark">Help Centre</a></li>
              </ul>
        
              <div class="col-md-3 text-end">
                <a class="btn btn-outline-primary me-2" href="login" role="button" aria-pressed="true">START DIGITALIZING</a>
              </div>
            </header>
          </div>

